<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup Form</title>
</head>
<body>
<form method="post" action="/signup">
    <input placeholder="First Name" name="firstName">
    <input placeholder="Last Name" name="lastName">
    <input placeholder="Username" name="username">
    <input placeholder="Password" type="password" name="password">
    <input type="submit">
</form>
</body>
</html>